{% extends 'layout.html' %}

{% load static %}

{% block body %}
<main class="main">

  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">

    <img src="{% static 'assets/img/profile3.jpg' %}" alt="" data-aos="fade-in" class="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <h2>Eugene Owino</h2>
      <p>I'm <span class="typed" data-typed-items=" A Data Scientist,A FullStack Developer,An IoT Engineer">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
    </div>

  </section><!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About</h2>
      <p>Eugene Owino is a data scientist and programmer with a background in Electrical and Electronics Engineering. I am a life-long learner and I always push myself to learn something new and test uncharted boundaries with regards to design in software and electronics.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 justify-content-center">
        <div class="col-lg-4">
          <img src="{% static 'assets/img/profile1.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 content">
          <h2>FullStack Developer &amp; Data Scientist.</h2>
          <p class="fst-italic py-3">
            Below is a quick summary of my bio
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>19 October 2002</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.eugenedesigns.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+254 114842190</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Nairobi,  Kenya</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.Eng Electrical and Electronics  Engineering</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>eugeneowino62@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>

    </div>

  </section><!-- /About Section -->

  <!-- Stats Section -->
  <section id="stats" class="stats section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="stats-item">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Happy Clients</strong> <span>Customer satisfaction at 95%</span></p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Projects</strong> <span>Ranging from web design to computer vision</span></p>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>

  </section><!-- /Stats Section -->

  <!-- Skills Section -->
  <section id="skills" class="skills section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Skills</h2>
     
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row skills-content skills-animation">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill"><span>HTML</span> <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

          <div class="progress">
            <span class="skill"><span>CSS</span> <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

          <div class="progress">
            <span class="skill"><span>Python</span> <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill"><span>Computer Vision</span> <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

          <div class="progress">
            <span class="skill"><span>Arduino/ESP32</span> <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

          <div class="progress">
            <span class="skill"><span>Soldering</span> <i class="val">65%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

        </div>

      </div>

    </div>

  </section><!-- /Skills Section -->

  <!-- Resume Section -->
  <section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
      <p>Take a look at my experience.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Engineering in Electrical and  Electronics Engineering</h4>
            <h5> Oct 2021 - 2026</h5>
            <p><em>Technical University of Kenya</em></p>
            <p>Currently ongoing</p>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Battery Management Systems</h4>
            <h5>2022 - 2023</h5>
            <p><em>Udemy</em></p>
            <p>Attained a certificate in BMS Design and learnt calculations and factors considered in developing a BMS</p>
          </div><!-- Edn Resume Item -->


          <div class="resume-item">
            <h4>Professional Skills</h4>
            <h5> Jul 2021 - Oct 2021</h5>
            <p><em>AFRALTI, Nairobi, KE</em></p>
            <p>Attained an IBM SkillsBuild Certificate in Professional Skills</p>
          </div><!-- Edn Resume Item -->


          <div class="resume-item">
            <h4>High School</h4>
            <h5>2017 - 2021</h5>
            <p><em>Maranda High School, Siaya, KE</em></p>
            <p>Achieved an A- </p>
          </div><!-- Edn Resume Item -->


        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Computer Vision Lead</h4>
            <h5>Sep 2024 - Present</h5>
            <p><em>Team AquaClean, Nairobi, KE </em></p>
            <ul>
              <li>Lead in the design, development, and implementation of the waste detection system through use of models such as tenserflow and OpenCV</li>
              <li>Provided counsel on robot motion aspects of the project. </li>
            </ul>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Robotics Technician</h4>
            <h5>Apr 2024 - Aug 2024</h5>
            <p><em>Team Agroguard, Nairobi, KE</em></p>
            <ul>
              <li>Helped develop machine learning models to detect leaf diseases.</li>
              <li>Designed alogrithm for the robot motion by coding motors</li>
              <li>Came up with a presentation to explain the product to a panel of judges</li>
            </ul>
          </div><!-- Edn Resume Item -->

        </div>

      </div>

    </div>

  </section><!-- /Resume Section -->

  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Portfolio</h2>
      <p>A quick look at all products and servies I can offer.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-product">Product</li>
          
        </ul><!-- End Portfolio Filters -->

        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <div class="portfolio-content h-100">
              <img src="{% static 'assets/img/portfolio/cv161.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>An attendance tracking system specialised for classrooms</p>
                <a href="{% static 'assets/img/portfolio/cv161.jpg' %}" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <div class="portfolio-content h-100">
              <img src="{% static 'assets/img/portfolio/product-3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product 1</h4>
                <p>Farm robot that can carry out crop analysis and show real-time data on healthy and malnourished crops</p>
                <a href="{% static 'assets/img/portfolio/product-3.jpg' %}" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          

        </div><!-- End Portfolio Container -->

      </div>

    </div>

  </section><!-- /Portfolio Section -->

  <!-- Services Section -->
  <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="icon flex-shrink-0"><i class="bi bi-eye"></i></div>
          <div>
            <h4 class="title"><a href="service-details.html" class="stretched-link">Computer Vision</a></h4>
            <p class="description">Designing models for face and object detection </p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="icon flex-shrink-0"><i class="bi bi-robot"></i></div>
          <div>
            <h4 class="title"><a href="service-details.html" class="stretched-link">Prototyping</a></h4>
            <p class="description">Creating electronic circuit designs and helping you to visualize the product by breadboard, PCB and software prototyping</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="icon flex-shrink-0"><i class="bi bi-filetype-html"></i></div>
          <div>
            <h4 class="title"><a href="service-details.html" class="stretched-link">Web Development</a></h4>
            <p class="description">Front-end and back-end development </p>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- /Services Section -->

  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Testimonials</h2>
      <p>Here's what a few customers had to say about my services</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 1,
                "spaceBetween": 40
              },
              "1200": {
                "slidesPerView": 3,
                "spaceBetween": 1
              }
            }
          }
        </script>
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Dynamic and user-friendly websites he has created for me have led to an increase in my sales by 500%.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img src="{% static 'assets/img/testimonials/saul.jpg' %}" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>The improvements made to my website have increased my online visibility and more customer interaction.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img src="{% static 'assets/img/testimonials/sara.jpg' %}" class="testimonial-img" alt="">
              <h3>Sara Kipsang'</h3>
              <h4>Bakery Owner</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Eugene has created a student attendance system in my school that has made tracking of students' attendance seamless.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img src="{% static 'assets/img/testimonials/jennifer.jpg' %}" class="testimonial-img" alt="">
              <h3>Jennifer Wanzome</h3>
              <h4>High School Principal</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Working at Agroguard with him has been amazing as I got to learn insights on effiecient model usage and training to obtain maximum object detection results. He's also a fun guy to have when the going gets tough!</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img src="{% static 'assets/img/testimonials/allan.jpg' %}" class="testimonial-img" alt="">
              <h3>Allan Mokua</h3>
              <h4>Freelancer</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- /Testimonials Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Got any enquiries? Need help with your project? Reach out to me, I've got you covered!</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-5">

          <div class="info-wrap">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>62540, 00200 City Square, Nairobi, KE</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Me</h3>
                <p>+254 114842190</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>eugeneowino62@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>

        <div class="col-lg-7">
          <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6">
                <label for="name-field" class="pb-2">Your Name</label>
                <input type="text" name="name" id="name-field" class="form-control" required="">
              </div>

              <div class="col-md-6">
                <label for="email-field" class="pb-2">Your Email</label>
                <input type="email" class="form-control" name="email" id="email-field" required="">
              </div>

              <div class="col-md-12">
                <label for="subject-field" class="pb-2">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject-field" required="">
              </div>

              <div class="col-md-12">
                <label for="message-field" class="pb-2">Message</label>
                <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Send Message</button>
              </div>

            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- /Contact Section -->

</main>

{% endblock %}

